* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

figure {
	margin: 0;
}

header {
	display: flex;
	justify-content: flex-end;
}

figure img {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;
}

header nav.top-menu {
	padding: 16px 30px;
}

header nav.top-menu ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav.top-menu ul li {
	padding-left: 15px;
}

header nav.top-menu ul li:first-of-type {
	padding-left: 0;
}

header nav.top-menu ul li figure.apps-logo {
	cursor: pointer;
	height: 30px;
	width: 30px;
}

header nav.top-menu ul li figure.avatar {
	cursor: pointer;
	height: 32px;
	width: 32px;
}

header nav.top-menu ul li figure.avatar img {
	border-radius: 16px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 96px);
	padding-bottom: 100px;
}

main figure.logo {
	max-width: 272px;
}

main .search-bar {
	width: 584px;
	min-height: 46px;
	margin-top: 32px;
	margin-bottom: 16px;
	padding: 0 16px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	display: grid;
	grid-template-columns: 32px 1fr;
	align-items: center;
}

main .search-bar:hover {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border-color: rgba(223,225,229,0);
}

main .search-bar .search-icon {
	width: 20px;
	height: 20px;
}
main .search-bar .search-icon svg {
	fill: #9AA0A6
}

main .search-bar input {
	border: none;
	font-size: 1rem;
}

main .search-bar input:active {
	outline: none;
}

main .actions button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5f6368;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	min-width: 54px;
	height: 36px;
	text-align: center;
	cursor: pointer;
}

main .actions button:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f8f8;
	border-color: #c6c6c6;
	color: #222222;
}

main .offer p {
	font-size: small;
}

main .offer p a {
	color: #1a0dab;
}

main .offer p a:hover {
	text-decoration: underline;
}

main .offer p a:visited {
	color: #609;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

footer .country {
	color: rgba(0,0,0,0.54);
	padding-left: 27px;
	font-size: 14px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 40px;
}

footer .footer-menu {
	display: flex;
	justify-content: space-between;
	padding-left: 27px;
	padding-right: 30px;
	font-size: 14px;
}

footer .footer-menu nav ul li {
	margin-left: 27px;
}

footer .footer-menu nav ul li:first-of-type {
	margin-left: 0;
}

footer .footer-menu nav ul li a {
	color: #5f6368;
}

footer .footer-menu nav ul li a:hover {
	text-decoration: underline;
}